<!-- Placed at the end of the document so the pages load faster -->
<script src="/public/js/jquery.js"></script>
<script src="/public/js/bootstrap-transition.js"></script>
<script src="/public/js/bootstrap-carousel.js"></script>
<script src="/public/js/bootstrap-collapse.js"></script>

<!-- 
<script src="/public/js/bootstrap-alert.js"></script>
<script src="/public/js/bootstrap-modal.js"></script>
<script src="/public/js/bootstrap-scrollspy.js"></script>
<script src="/public/js/bootstrap-tab.js"></script>
<script src="/public/js/bootstrap-tooltip.js"></script>
<script src="/public/js/bootstrap-popover.js"></script>
<script src="/public/js/bootstrap-typeahead.js"></script>
<script src="/public/js/bootstrap-button.js"></script>
<script src="/public/js/bootstrap-dropdown.js"></script>
 -->





<script type="text/javascript">
$(document).ready(function() {
	$('#logo').animate({
		left: 0,
		opacity: 1,
		'-moz-opacity': 1,
		filter: 'alpha(opacity=100)'
	}, 3000);
	
	$('.carousel').carousel({
		interval: 7000,
		pause: "false"
	}).on('slid', function() {
		var slideHeight = $(this).height();
		var imageHeight = $(this).find('.active.photo img').height();
		var animTop = slideHeight - imageHeight
		
		$(this).find('.active.photo img').animate({
			top: ((animTop < 0) ? animTop : 0)
		}, 2000, function() {
			$('.carousel .photo img').not('.carousel .active img').attr('style', '');
		});
	});
});
</script>
