<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav">
					<li class="{% if page.title == 'Portraits' %}active{% endif %}">
						<a href="/photo/portraits.html">Portraits</a>
					</li>
					<li class="{% if page.title == 'Events' %}active{% endif %}">
						<a href="/photo/events.html">Events</a>
					</li>
					<li class="{% if page.title == 'Boudoir' %}active{% endif %}">
						<a href="/photo/boudoir.html">Boudoir</a>
					</li>
					<li class="{% if page.title == 'Studio' %}active{% endif %}">
						<a href="/photo/studio.html">Studio</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="{% if page.title == 'Pricing' %}active{% endif %}">
						<a href="/photo/pricing.html">Pricing</a>
					</li>
					<li class="{% if page.title == 'Promo' %}active{% endif %}">
						<a href="/photo/promo.html">Promos</a>
					</li>
					<li class="{% if page.title == 'Booking' %}active{% endif %}">
						<a href="/photo/contact.html">Bookings</a>
					</li>
					<li class="{% if page.title == 'Client Login' %}active{% endif %}">
						<a href="/photo/login.html">Login</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>




