<div class="carousel slide">
	<div class="mask hidden-phone"></div>
	<div class="carousel-inner">
		<div class="item white active"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/2.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/3.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/4.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/5.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/6.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/7.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/8.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/9.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/10.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/11.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/12.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/13.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/14.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/15.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/16.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/17.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/18.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/19.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/20.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/21.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/22.jpg" alt="" title="" /></div>
	</div>
</div>
