<div class="carousel slide">
	<div class="mask hidden-phone"></div>
	<div class="carousel-inner">
		<div class="item white active"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/merc1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/lights.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/chihuly.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
<!-- 
		<div class="item photo"><img src="../public/img/slide/2.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/3.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
 -->
		<div class="item photo"><img src="../public/img/slide/ring.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/sweater.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/exileIII1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/exileIII2.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/vampire1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/vampire2.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/merc2.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
<!-- 
		<div class="item photo"><img src="../public/img/slide/8.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/9.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/merc3.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/11.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/12.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
 -->
		<div class="item photo"><img src="../public/img/slide/eclair1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/rope1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/juju1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/gogo1.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/rope2.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
<!-- 
		<div class="item photo"><img src="../public/img/slide/19.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
		<div class="item photo"><img src="../public/img/slide/20.jpg" alt="" title="" /></div>
		<div class="item white"><img src="../public/img/dookie.jpg" alt="" title="" /></div>
 -->
		<div class="item photo"><img src="../public/img/slide/juju2.jpg" alt="" title="" /></div>
	</div>
</div>
