<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>

<body>



<div id="wrapper">
	<div class="container">
		<div id="logo" class="hidden-phone"><img alt="Pearl Noir Logo" src="public/img/pearlnoir-logo.png"></div>
		<div class="row-fluid visible-phone">
			<div id="mobileLogo"><img alt="Pearl Noir Logo" src="public/img/pearlnoir-logo.png"></div>
		</div>
		<div class="row-fluid">
			<div id="slideshow" class="span10 offset2 hidden-phone">
				{% include slideshow.html %}
			</div>
			<div id="mobileSlideshow" class="span10 offset2 visible-phone">
				{% include slideshow.html %}
			</div>
		</div>
		<div class="row-fluid">
			<div id="content" class="span10 offset1">
<!-- 
				{{ content }}
 -->
			</div>
		</div>

		<div id="foot" class="row-fluid hidden-phone">
			<div class="span2 offset2">
				<a href="https://www.flickr.com/photos/pearlnoirimages/">Flicker</a>
			</div>
			<div class="span6">
				<a href="mailto:pearlnoirimages@gmail.com">PearlNoirImages@gmail.com</a>
			</div>
			<div class="span2">
				<a href="http://www.facebook.com/PearlNoirImages">Facebook</a>
			</div>
		</div>
		<div id="mobileFoot" class="row-fluid visible-phone">
			<div class="span6">
				<a href="mailto:pearlnoirimages@gmail.com">PearlNoirImages@gmail.com</a>
			</div>
			<div class="span6 clearfix">
				<span><a href="https://www.flickr.com/photos/pearlnoirimages/">Flicker</a></span>
				<span><a href="http://www.facebook.com/PearlNoirImages">Facebook</a></span>
			</div>
		</div>


	</div>
</div>

	{% include js.html %}


</body>
</html>
